@charset "UTF-8";
@media screen and (max-width: 768px) {
  div.inner {
    width: 90vw;
    margin: 0 auto;
  }
  .under {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #99E5A5));
    background: linear-gradient(transparent 70%, #99E5A5 70%);
  }
  a:hover {
    opacity: 0.7;
  }
  header {
    margin-bottom: 20px;
  }
  header div.inner a.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px;
    margin: 15px 0px;
  }
  header div.inner a.logo img {
    width: 50px;
  }
  header div.inner a.logo p {
    text-align: center;
    font-size: 2.0rem;
    line-height: 1.3;
    margin-left: 10px;
    font-family: 'cinecaption',sans-serif;
  }
  header div.inner div {
    text-align: center;
  }
  header div.inner div p {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  header div.inner div div.phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header div.inner div div.phone img {
    height: 20px;
    margin-right: 10px;
  }
  header div.inner div div.phone a {
    font-size: 2rem;
    color: #21A937;
    font-weight: 700;
  }
  section.kv {
    margin-bottom: 50px;
    position: relative;
  }
  section.kv img {
    width: 100vw;
    height: 150vw;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: -150vw 0;
       object-position: -150vw 0;
  }
  section.kv p {
    height: 270px;
    position: absolute;
    bottom: 20px;
    background-color: #fff;
    padding: 15px 20px;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.2em;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
  }
  section.kv p span {
    color: #21A937;
  }
  section.kv p:nth-child(2) {
    left: 90px;
  }
  section.kv p:nth-child(3) {
    left: 20px;
  }
  section.message {
    margin-bottom: 50px;
  }
  section.message div.inner div {
    width: 90vw;
    margin: 0 auto;
  }
  section.message div.inner div h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  section.message div.inner div h2 span {
    line-height: 40px;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 50px;
  }
  section.message div.inner div p {
    font-size: 1.6rem;
    line-height: 2.3;
    margin-bottom: 15px;
  }
  section.message div.inner img {
    width: 90vw;
  }
  section.care {
    background-color: #F5FCF8;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  section.care div.inner {
    text-align: center;
  }
  section.care div.inner h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 50px;
  }
  section.care div.inner p {
    font-size: 1.6rem;
    margin-bottom: 50px;
    line-height: 2;
  }
  section.care div.inner ul li {
    text-align: center;
    width: 90vw;
    border-radius: 10px;
    border: 2px solid #C9C9C9;
    background-color: #fff;
    padding: 20px 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
  }
  section.care div.inner ul li div h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  section.care div.inner ul li div p {
    line-height: 2.3;
    margin-bottom: 30px;
    text-align: left;
    font-weight: 700;
  }
  section.care div.inner ul li img {
    width: 200px;
    margin: 0 auto;
  }
  section.news {
    background-color: #F5FCF8;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  section.news div.inner {
    text-align: center;
  }
  section.news div.inner h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 30px;
  }
  section.news div.inner div.news-content {
    background-color: #fff;
    border-radius: 30px;
    padding: 20px 30px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  }
  section.news div.inner div.news-content ul li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #E7E7E7;
    margin-bottom: 15px;
    text-align: left;
  }
  section.news div.inner div.news-content ul li time {
    display: block;
    color: #21A937;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  section.news div.inner div.news-content ul li span {
    display: block;
    color: #fff;
    text-align: center;
    padding: 3px 0;
    width: 80px;
    background-color: #444444;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  section.news div.inner div.news-content ul li a {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.8;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /*IE対策*/
    line-height: 1.5em;
    max-height: 4.5em;
  }
  section.news div.inner div.news-content ul li:nth-child(4) {
    margin-bottom: 20px;
  }
  section.news div.inner div.news-content a.arrow {
    display: block;
    text-align: right;
    position: relative;
    font-weight: 700;
  }
  section.news div.inner div.news-content a.arrow::after {
    content: "";
    position: absolute;
    top: 50%;
    /* 縦軸をセンタリングする */
    right: -17px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    /* 縦軸をセンタリングする */
    border: 5px solid transparent;
    border-left: 8px solid #555;
    /* 好みで色を変えてください */
  }
  section.area {
    margin-bottom: 30px;
  }
  section.area iframe {
    width: 90vw;
    height: 90vw;
    margin-bottom: 20px;
  }
  section.area .map_pc {
    display: none;
  }
  section.area div.inner div {
    width: 90vw;
  }
  section.area div.inner div div.area_name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  section.area div.inner div div.area_name img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }
  section.area div.inner div div.area_name p {
    font-size: 2.0rem;
    text-align: center;
    line-height: 1.3;
    font-family: 'cinecaption',sans-serif;
  }
  section.area div.inner div div.area_adress {
    margin-bottom: 35px;
    text-align: center;
  }
  section.area div.inner div div.area_adress p {
    font-size: 1.6rem;
    display: inline-block;
    margin-right: 15px;
  }
  section.area div.inner div div.area_adress span {
    font-size: 1.6rem;
  }
  section.area div.inner div div.phone {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.area div.inner div div.phone img {
    width: 25px;
    margin-right: 15px;
  }
  section.area div.inner div div.phone a {
    color: #21A937;
    font-size: 2rem;
    font-weight: 700;
  }
  section.area div.inner div div.table {
    font-size: 1.4rem;
    border-top: 2px solid #E7E7E7;
    border-bottom: 2px solid #E7E7E7;
    padding: 20px 0;
  }
  section.area div.inner div div.table div.table_t {
    margin-bottom: 20px;
    text-align: center;
  }
  section.area div.inner div div.table div.table_t div.div1 {
    display: inline;
    font-weight: 700;
    border-bottom: 2px solid #E7E7E7;
    padding-bottom: 3px;
  }
  section.area div.inner div div.table div.table_t div.table_tr {
    padding: 30px 0;
  }
  section.area div.inner div div.table div.table_t div.table_tr div.table_tr_1 {
    margin-bottom: 20px;
  }
  section.area div.inner div div.table div.table_t div.table_tr div.table_tr_1 div.div2 {
    text-align: center;
    margin-bottom: 10px;
  }
  section.area div.inner div div.table div.table_t div.table_tr div.table_tr_1 div.table_time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  section.area div.inner div div.table div.table_t div.table_tr div.table_tr_1 div.table_time div.div3 {
    width: 40%;
  }
  section.area div.inner div div.table div.table_t div.table_tr div.table_tr_1 div.table_time div.div4 {
    width: 40%;
  }
  section.area div.inner div div.table div.table_t div.table_tr div.table_tr_1 div.div5 {
    text-align: center;
    margin-bottom: 20px;
  }
  section.area div.inner div div.table div.table_t div.table_tr div.table_tr_1 div.table_time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  section.area div.inner div div.table div.table_t div.table_tr div.table_tr_1 div.table_time div.div6 {
    width: 40%;
  }
  section.area div.inner div div.table div.table_t div.table_tr div.table_tr_1 div.table_time div.div7 {
    width: 40%;
  }
  section.area div.inner div div.table div.table_t div.table_tr div.table_tr_1 div.div8 {
    text-align: center;
    margin-bottom: 20px;
  }
  section.area div.inner div div.table div.table_t div.table_tr div.table_tr_1 div.table_time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  section.area div.inner div div.table div.table_t div.table_tr div.table_tr_1 div.table_time div.div9 {
    width: 40%;
  }
  section.area div.inner div div.table div.table_t div.table_tr div.table_tr_1 div.table_time div.div10 {
    width: 40%;
  }
  section.area div.inner div div.table div.table_b {
    text-align: center;
  }
  section.area div.inner div div.table div.table_b div.div11 {
    display: inline;
    font-weight: 700;
    border-bottom: 2px solid #E7E7E7;
    padding-bottom: 3px;
  }
  section.area div.inner div div.table div.table_b div.div12 {
    padding: 30px 0 0;
  }
  section.area div.inner div footer.f_pc {
    display: none;
  }
  .f_sp {
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=smart.css.map */